nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}
h1{
    color: #DAC0A3;
    font-size: 45px;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    color: #DAC0A3;
    text-decoration: none;
}
a:hover{
    color: rgb(99, 49, 8);
}
.Shopping1{
    display: flex;
    justify-content: end;
}
.Imagenin{
    display: flex;
    justify-content: center;
}
.New{
    margin: 0px 15px;
}
.Logo{
    height: 9%;
    width: 9%;
}
.Contenedor1{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    background-color: #F6F5F2;
    opacity: 80%;
    display: flex;
}
.Shopping{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.Contenedor2{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    background-color: #F6F5F2;
}
.Jordan{
    height: 5%;
    width: 40%;
}
